# We need to use torchaudio<0.12.0 due to some error with the new torchaudio backend (https://github.com/huggingface/transformers/issues/18379)

numpy
pandas
torchaudio==0.13.0
torch==1.13.0
librosa
datasets
transformers
jiwer
jieba
editdistance
tensorboard
tensorboardX
fairscale
tqdm
editdistance
jieba
git+https://github.com/IndoNLP/nusa-crowd.git@release_exp